@model SeminarDva.ViewModels.PredbiljezbeForSeminarViewModel

@{
    ViewBag.Title = "Po seminaru";
}

<h2>Lista predbilježbi</h2>
@Html.HiddenFor(model => model.Id)
<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @Html.ActionLink("Prezime", "SortByPrezime", "Predbiljezbe", new { id = Model.Id }, new { @class = "pull-right col-md-2" })
    @Html.ActionLink("Datum upisa", "SortByDatumPredbiljezbe", "Predbiljezbe", new { id = Model.Id }, new { @class = "pull-right col-md-2" })
    @Html.ActionLink("Obrađen", "SortByStatus", "Predbiljezbe", new { id = Model.Id }, new { @class = "pull-right col-md-2" })
</p>
<table class="table">
    <tr class="background-blue">
        <th>
            @Html.DisplayNameFor(model => model.Seminar.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seminar)
        </th>
        <th>
            @Html.DisplayName("Ime")
        </th>
        <th>
            @Html.DisplayName("Prezime")
        </th>
        <th>
            @Html.DisplayName("Adresa")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Telefon")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Predbiljezbe)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seminar.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPredbiljezbe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Uredi", "Edit", "Predbiljezbe", new { id = item.IdPredbiljezba },null) |
                @Html.ActionLink("Detalji", "Details", "Predbiljezbe", new { id = (int)item.IdPredbiljezba },null) |
                @Html.ActionLink("Briši", "Delete", "Predbiljezbe", new { id = item.IdPredbiljezba },null)
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Prva strana", "Index", "Seminari", null, htmlAttributes: new { @class = "col-md-3" })
<a href="javascript:history.back()" class="col-md-3">Natrag</a>
